* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("./images/23964.jpg"); */
    background: #411c85;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* ============ Navbar options border-bottoms start ============ */

#mainPage{
    border-bottom: #1FBD1F 3px solid;
}

#aboutPage{
    border-bottom: #1FBD1F 3px solid;
}

#webPage{
    border-bottom: #1FBD1F 3px solid;
}

#contactPage{
    border-bottom: #1FBD1F 3px solid;
}

/* ============ Navbar options border-bottoms end ============ */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

/* <ul> Navbar Menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 30px;
    font-size: 20px;
}

/* Logo */
.nav-branding {
    font-size: 36px;
    position: absolute;
    margin-top: 40px;
    margin-left: 70px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    background: #1FBD1F;
    padding: 10px 18px;
    border-radius: 15px;
   
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



/* ================= Media Responsive Navbar ================= */

@media(max-width:968px) {
    .hamburger {
        display: block;
        margin-top: 35px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background: #411c85;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}



